* { margin: 0; padding: 0; box-sizing: border-box; } 
a { color: #333; text-decoration: none; } 
ol,
ul { list-style: none; } 

@font-face { font-family: "NEXON Lv2 Gothic"; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff")
 format("woff"); font-weight: normal; font-style: normal; } 
@font-face { font-family: "NEXON Lv2 Gothic Light"; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff")
 format("woff"); font-weight: normal; font-style: normal; } 
input,
button,
textarea { outline: 0; border-radius: 0; border: 0; color: #777; /* font-family: "Nanum Myeongjo", serif; font-family: "Noto Sans KR", sans-serif; */
 font-family: "Lexend", "NEXON Lv2 Gothic Light", "NEXON Lv2 Gothic",
 sans-serif;
 font-size: 14px; background: none; } 
textarea { resize: none; } 

img { display: block; } 
em { font-style: normal; } 
b { font-weight: normal; } 
/* setting reset Layout Style */
.center { width: 100%; margin: auto; max-width: 1920px; height: auto; } 

.wrap { width: 100%; height: auto; overflow: hidden; } 

body { font-size: 14px; /* font-family: "Cormorant Garamond", serif; */
 font-family: "Lexend", "NEXON Lv2 Gothic Light", "NEXON Lv2 Gothic",
 sans-serif; letter-spacing: 1px;
 /* 
 font-family: "Nanum Myeongjo", serif; font-family: "Noto Sans KR", sans-serif; */
 /* background: #f5ece5;; */
 /* color: #0fc495; */}
